* {
    box-sizing: border-box;
    margin: 0 auto;
}

header {
    display: flex;
    width: 80%;
    height: 300px;
    padding: 50px;
}

li {
    list-style: none;
    margin: 5px;
}

ul {
    padding: 0;
}

header > div {
    display: flex;
    align-items: center;
}

.logo img {
    width: 150px;
}

header a {
    text-decoration: none;
}

.menu > ul > li {
    display: inline-block;
}

.tarif_menu,
.conti_menu,
.prodotti_menu,
.azienda_menu,
.aiuto_menu {
    position: relative;
}

.drop_tarif_menu,
.drop_conti_menu,
.drop_prodotti_menu,
.drop_azienda_menu,
.drop_aiuto_menu {
    display: none;
    position: absolute;
    width: 115px;
    height: 130px;
    border: 1px solid white;
    box-shadow: 0 0 4px 0;
}
   
header select {
    border: none;
}


